.hacker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px;
    min-height: 60px;
}

.hacker:last-child {
    margin-bottom: 0;
}

.hacker > * {
    margin-right: 12px;
}

.hacker > *:last-child {
    margin-right: 0;
}

.avatar {
    flex: 1 1;
}
.name {
    flex: 1 85%;
    align-items: center;
}
