.team {
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom: 12px;
}

.team > div {
    padding: 12px 12px 0 12px;
}

.team > div:last-child {
    padding: 12px;
}

.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondRow {

}

.team:last-child {
    margin-bottom: 0;
}

.team > * {
    margin-right: 12px;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
}

.team > *:last-child {
    margin-right: 0;
}

.rank {
    text-align: center;
    font-size: 1.5em;
    flex: 0 0 48px;
}

.score {
    flex: 0 0 64px;
    text-align: center;
}

.name {
    flex: 1 0 200px;
    display: flex;
    align-items: center;
}

.achievements {
}

.hackers {
    display: flex;
    flex-wrap: wrap;
    margin-top: -6px;
    margin-left: 75px;
}

.hacker {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-right: 18px;
    margin-top: 6px;
}

.hacker:last-child {
    margin-right: 0;
}


