.leaderboardItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px;
    min-height: 60px;
    background-repeat: no-repeat;
    background-position: top right;
}

.leaderboardItem:last-child {
    margin-bottom: 0;
}

.leaderboardItem > * {
    margin-right: 12px;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
}

.leaderboardItem > *:last-child {
    margin-right: 0;
}

.rank {
    text-align: center;
    font-size: 1.5em;
    flex: 1 5%;
}

.score {
    flex: 1 10%;
    text-align: center;
}

.name {
    flex: 1 85%;
    display: flex;
    align-items: center;
}
