.userlistItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px;
    min-height: 60px;
}

.userlistItem:last-child {
    margin-bottom: 0;
}

.userlistItem > * {
    margin-right: 12px;
}

.userlistItem > *:last-child {
    margin-right: 0;
}

.name {
    flex: 1 85%;
    display: flex;
    align-items: center;
}
