.achievement {
    margin-bottom: 12px;
}

.achievement > div {
    padding: 12px 12px 0 12px;
}

.achievement > div:last-child {
    padding: 12px;
}

.firstRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.secondRow {
    display: flex;
}

.secondRow > div {
    flex: 1 800px;
}
.secondRow > div:first-child {
    flex: 0 1 178px;
}

.notAvailable {
    opacity: 0.5;
    text-decoration: line-through;
}

.achievement:last-child {
    margin-bottom: 0;
}

.achievement > * {
    margin-right: 12px;
}

.achievement > *:last-child {
    margin-right: 0;
}

.name {
    flex: 1 500px;
    display: flex;
    align-items: center;
}

.score {
    flex: 0 1 120px;
    text-align: center;
}

.icon {
    flex: 0 1 48px;
    text-align: center;
}

.icon svg {
    filter: drop-shadow(0 0 5px #000);
}
