.achievement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px;
    min-height: 60px;
}

.achievement:last-child {
    margin-bottom: 0;
}

.achievement > * {
    margin-right: 12px;
}

.achievement > *:last-child {
    margin-right: 0;
}

.name {
    flex: 1 85%;
    display: flex;
    align-items: center;
}

.score {
    flex: 1 10%;
    text-align: center;
}

.icon {
    flex: 1 5%;
    text-align: center;
}

.icon svg {
    filter: drop-shadow(0 0 5px #000);
}
