.achievement {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px;
    min-height: 60px;
}

.notAvailable {
    opacity: 0.5;
    text-decoration: line-through;
}

.achievement:last-child {
    margin-bottom: 0;
}

.achievement > * {
    margin-right: 12px;
}

.achievement > *:last-child {
    margin-right: 0;
}

.name {
    flex: 1 500px;
    display: flex;
    align-items: center;
}

.score {
    flex: 0 1 120px;
    text-align: center;
}

.icon {
    flex: 0 1;
    text-align: center;
}

.icon svg {
    filter: drop-shadow(0 0 5px #000);
}
